<!DOCTYPE html>
{% load static %}
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minha Loja Online</title>
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/style.css' %}">
</head>
<body>
    <header>
        <h1>Minha Loja Online</h1>
        <nav>
            <ul>
                <li><a href="#">Início</a></li>
                <li><a href="#">Produtos</a></li>
                <li><a href="#">Carrinho</a></li>
                <li><a href="#">Cadastrar</a></li> <!-- Botão de Cadastro -->
                <li><a href="#">Fazer Login</a></li> <!-- Botão de Login -->
            </ul>
        </nav>
    </header>

    <main>
        <section class="product-list">
            <article class="product">
                <img src="produto1.jpg" alt="Produto 1">
                <h2>Produto 1</h2>
                <p>Descrição do Produto 1.</p>
                <span class="price">R$ 50,00</span>
                <button class="add-to-cart">Adicionar ao Carrinho</button>
            </article>

            <article class="product">
                <img src="produto2.jpg" alt="Produto 2">
                <h2>Produto 2</h2>
                <p>Descrição do Produto 2.</p>
                <span class="price">R$ 60,00</span>
                <button class="add-to-cart">Adicionar ao Carrinho</button>
            </article>

            <!-- Adicione mais produtos aqui -->

        </section>
    </main>

    <footer>
        <p>&copy; 2023 Minha Loja Online. Todos os direitos reservados.</p>
    </footer>
</body>
</html>
